@import 'foundation';

$global-font-size: 80%;
$table-striped-background: $table-background;

@include foundation-everything;

table {
  .button {
    margin-bottom: 0;
  }

  img {
    width: 64px;
    height: 64px;
  }
}

.tabs-title > a.is-active {
  background: $tab-background-active;
}

.nowrap {
  white-space: nowrap;
}
