@import 'foundation';

$global-font-size: 80%;
$success-color: #2ecc40;
$table-striped-background: $table-background;

@include foundation-everything;

table {
  .button {
    margin-bottom: 0;
  }

  // For debug
  th,td { border: 1px solid #000; }
}

.tabs-title > a.is-active {
  background: $tab-background-active;
}

.nowrap {
  white-space: nowrap;
}

.thumb {
  min-width: 64px;
  box-sizing: content-box;
}

.standing,
.notify {
  color: $success-color;
}

.taken {
  color: $alert-color;
}
