@import 'foundation';

$global-font-size: 80%;
$table-striped-background: $table-background;

@include foundation-everything;

table {
  input,
  button {
    margin: 0 !important;
  }

  [type='file'] {
    min-width: 17em;
  }

  img {
    width: 64px;
    height: 64px;
  }
}

.tabs-title.is-active > a {
  background: $tab-background-active;
}

.tabs-content {
  margin-bottom: 1rem;
}

.error {
  color: $alert-color;
}

.nowrap {
  white-space: nowrap;
}
